::ng-deep p-menubarsub {
    width: 100%;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    height: 60px;
    //background-color: white;
  }
  
  ::ng-deep .p-menubar-root-list {
    width: 40%;
    justify-content: space-between;
    // justify-content: end;
  }