<div class="grid">
    <div class="col-12 md:col-12 lg:col-12">
        <div class="grid">

            <div class="col-12 md:col-12 lg:col-12" style="position: relative; display: inline-block;">
                <p-image src="./../../../assets/images/home/1.jpg" alt="Image" width="100%" height="509"/>
                <p class="texto">We’re the backstage,  the artists, and partygoers of your events. We’re INSTAGE!</p>
            </div>

            <div class="col-12 md:col-offset-5 md:col-2 lg:col-offset-5 lg:col-2" style="text-align: center;">
                <button pButton pRipple label="Entre em contato" class="p-button-success"
                    style="width: 100%; height: 50px;" (click)="goContato()"></button>
            </div>
        </div>


        <div class="grid" style="margin-top: 10px;">
            <div class="col-12 md:col-12 lg:col-12" style="text-align: center;">
                <h1>SOLUÇÕES PARA EVENTOS</h1>
            </div>

            <div class="col-12 md:col-12 lg:col-12">
                <div class="card">
                    <p-carousel [value]="products" [numVisible]="3" [numScroll]="3"
                        [responsiveOptions]="responsiveOptions">
                        <ng-template let-product pTemplate="item">
                            <div class="surface-border border-round m-2 p-3">
                                <div class="mb-3">
                                    <div class="relative mx-auto">
                                        <img src="./../../../assets/images/home-carrosel/{{product.image}}"
                                            [alt]="product.name" class="w-full border-round" />
                                    </div>
                                </div>
                                <div class="mb-3 font-medium" style="text-align: center;">
                                    <h5 style="font-weight: bold;">{{ product.name }}</h5> 
                                </div>
                            </div>
                        </ng-template>
                    </p-carousel>
                </div>
            </div>

            <!-- <div class="col-12 md:col-12 lg:col-12">
                <p-carousel [value]="servicos" orientation="vertical" [numVisible]="2" [numScroll]="2" [circular]="true"
                    [responsiveOptions]="responsiveOptions" autoplayInterval="3000">
                    <ng-template let-servico pTemplate="item">
                        <div class="relative mx-auto">
                            <img src="{{servico.image}}" [alt]="servico.name" class="border-round" width="250" height="250"/>
                        </div>
                    </ng-template>
                </p-carousel>
            </div> -->


        </div>

        <div class="grid" style="margin-top: 10px;">
            <div class="col-12 md:col-12 lg:col-12" style="text-align: center;">
                <h1>CASTING</h1>
            </div>

            <div class="col-12 md:col-12 lg:col-12">
                <div class="card">
                    <p-carousel [value]="artistas_array" [numVisible]="3" [numScroll]="3"
                        [responsiveOptions]="responsiveOptions" >
                        <ng-template let-artista pTemplate="item" >
                            <div class=" surface-border border-round m-2 p-3">
                                <div class="mb-3">
                                    <div class="relative mx-auto">
                                        <img src={{artista.foto}}
                                            [alt]="artista.nome" class="w-full border-round"/>
                                    </div>
                                </div>
                                <!-- <div class="mb-3 font-medium">
                                    {{ artista.nome }}
                                </div> -->
                            </div>
                        </ng-template>
                    </p-carousel>
                </div>
            </div>

            <div class="col-12 md:col-offset-2 md:col-3 lg:col-offset-2 lg:col-3">
                <a routerLink="/artistas" class="p-button font-bold" style="width: 100%; height: 50px; background: #2d0c34">
                    <p style="width: 100%;">Conheça todo o Casting!</p>
                </a>
            </div>

            <div class="col-12 md:col-offset-1 md:col-3 lg:col-3 lg:col-offset-1">
                <a routerLink="/solucoes" class="p-button font-bold" style="width: 100%; height: 50px; background: #f1790b">
                    <p style="width: 100%;">Conheça as Soluções para Artistas</p>
                </a>
                <!-- <button pButton pRipple label="Conheça as Soluções para Artistas" class="p-button-success"
                    style="width: 100%; height: 50px; background: #f1790b;"></button> -->
            </div>
        </div>

        <div class="grid" style="margin-top: 40px;">
            <div class="col-12 md:col-4 lg:col-4 md:col-offset-1 lg:col-offset-1">
                <p-image src="./../../../assets/images/home-carrosel/3.jpg" alt="Image" width="100%" height="550" />
            </div>
            <div class="col-12 md:col-1 lg:col-1" style="font-weight: bold;">
                <p>WHAT WE</p>
                <p>BELIVE</p>
            </div>

            <div class="col-12 md:col-4 lg:col-4 ">
                <p>We believe in smiles. Happiness in the face of our and your guests are the true kind of expression
                    that all people in the area is enjoying what they are tasting.</p>
                <br>
                <p>Queremos que você aproveite o seu dia, sendo leve e tudo nos conformes como tenha imaginado, sem ter
                    nenhuma preocupação com a infraestutura e experiências que você deseja causar em seus convidados.
                </p>
                <br>
                <p>Você é o Anfitrião. Nós cuidamos da casa. Muito prazer, nós somos Instage!</p>
            </div>
        </div>

        <div class="grid" style="margin-top: 40px;">
            <div class="col-12 md:col-12 lg:col-12" style="text-align: center;">
                <h1>CONTATO</h1>
            </div>

            <div class="col-12 md:col-4 lg:col-4 md:col-offset-3 lg:col-offset-3">
                <h2> <i class="pi pi-instagram" style="font-weight: bold;"></i> instage.agencygmail.com</h2>
                <h2> <i class="pi pi-envelope" style="font-weight: bold;"></i> instage.agency </h2>
                <h2> <i class="pi pi-whatsapp" style="font-weight: bold;"></i> +55(xx) xxxxx-xxxxx</h2>
            </div>

            <div class="col-12 md:col-4 lg:col-4 " id="contato">
                <p-card>
                    <form [formGroup]="formGroup">
                        <div class="grid">
                            <div class="col-12 md:col-12 lg:col-12">
                                <label>Name</label>
                                <input style="width: 100%;" type="text" pInputText formControlName="name" label="" />
                            </div>
                            <div class="col-12 md:col-12 lg:col-12">
                                <label>Phone Number</label>
                                <input style="width: 100%;" type="text" pInputText formControlName="phone" label="" />
                            </div>
                            <div class="col-12 md:col-12 lg:col-12">
                                <label>Email</label>
                                <input style="width: 100%;" type="text" pInputText formControlName="email" label="" />
                            </div>
                            <div class="col-12 md:col-12 lg:col-12">
                                <label>Message</label>
                                <textarea rows="5" style="width: 100%;" pInputTextarea formControlName="message" [autoResize]="true"></textarea>
                            </div>

                            <div class="col-12 md:col-12 lg:col-12">
                                <button pButton pRipple label="Submit" style="width: 100%; height: 35px;"></button>
                            </div>
                        </div>

                    </form>
                </p-card>
            </div>
        </div>
    </div>
</div>